@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #93B1A6;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: #183D3D;

    border-radius: 4px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #040D12;
}